@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');

html {
  background-image: url(./assets/parallax.webp);
  background-attachment: fixed;
  background-size: cover;
}

.outer {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

h1 {
  margin-bottom: 10%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  padding: 100px;
  background-color: white;
  border-radius: 25px;
  text-align: center;
}

